<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>User info</h1>
      <%= form_with model:@user ,local:true do |f| %>
      <h4>Name</h4>
      <%= f.text_field :name %>
      <h4>Image</h4>
      <%= attachment_image_tag@user,:profile_image,:fill,60,60,fallback:"no_image.jpg" %>
      <%= f.attachment_field :profile_image,placeholder:"ファイルを選択" %>
      <h4>Introduction</h4>
      <%= f.text_area :introduction %>
      <%= f.submit "Update User" %>
      <% end %>

    </div>
  </div>
</div>