<div class="container">
  <div class="row">
    <!--左側-->
    <%= render 'books/left' ,book:@book %>
    <!--左側ここまで-->
    <!--右側-->
    <div class="col-md-8">
      <h2>Books</h2>

      <% @books.each do |book| %>
      <table>
       <tr>
          <td>image<br><%= book.user.name %></td>
          <td><%= link_to book_path(book.id) do %>
              <%= book.title %>
              <% end %>
          </td>
          <td><%= book.body %></td>
        </tr>
      </table>
      <% end %>
    </div>
    <!--右側ここまで-->
  </div>
</div>